*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    background-color: #D0A2F7;
}

h1{
    text-align: center;
    margin-top: 30vh;
}

section{
    text-align: center;
}

input{
    border-radius: 5px;
    padding: 5px;
    background-color: #E5D4FF;
    color: black;
}

.val1{
    margin-top: 10px;
}

button{
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #E5D4FF;
    color: black;
}

.output{
    margin-top: 10px;
}